extends base

block vars
	- var title = 'Register'

block body
	h1(style="font-family:Georgia,serif; padding: 25px;") Create an Account
	form(method="post", role="form", style="width:90%; margin: 5px auto;", class="form-horizontal")

		input(type='hidden', name='_csrf', value=csrfToken)
		div.form-group
			label(for="fName") First Name:
			input(type="text", name="firstName", required=true, class="form-control", id="fName")
			br

		div.form-group
			label(for="lName") Last Name:
			input(type="text", name="lastName", required=true, class="form-control", id="lName")
			br

		div.form-group
			label(for="email") Email:
			input(type="email", name="email", required=true, class="form-control", id="email")
			br

		div.form-group
			label(for="password") Password:
			input(type="password", name="password", required=true, class="form-control", id="password")
			br

		input(type="submit", class="btn btn-primary")